body {
    background-color: #26877F;
    font-family: 'Overpass', serif;
    /* margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: 5%;
    margin-right: 5%;  */
    color: #26877F;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 2.5em;
    margin: 0;
    font-weight: 900;
}

h2 {
    font-size: 1.4em;
    margin: 0px;
}

header,
header+nav {
    background-color: #C6E2DA;
    width: 100%;
}

header img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 2% 0 3% 0;
    width: 18%;
}

nav ul {
    list-style: none;
    text-align: center;
    padding: 20px 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
}

nav li {
    display: inline-block;
}

nav a {
    color: #26877F;
    text-decoration: none;
    font-weight: 800;
    /* font-size: 1.3em; */
    letter-spacing: 2px;
}

a:hover {
    color: #64b9b2;
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-underline-offset: 24px;
    text-decoration-color: #26877F;
}

section {
    display: flex;
    margin: 5%;
}

article {
    flex: 1;
}

.main-section {
    margin: 0;
    padding: 5rem;
    background-image: url('/assets/section1bg.png');
    min-height: 100%;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
}

.main-article {
    margin-right: 50%;
    text-align: left;
}

.main-article>p {
    font-size: 120%;
    font-weight: 300;
    line-height: 1.5rem;
    padding: 0;
}

.main-button {
    cursor: pointer;
    background-color: #E08456;
    color: white;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 2px;
    padding: 15px 25px;
    border-radius: 50px;
    border: none;
    margin-top: 60px;
    transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
}

.main-button:hover {
    background-color: white;
    color: #E08456;
    transform: scale(1.1);
}

.main-button:active {
    transform: scale(1);
}

.main-button>i {
    transition: transform .3s ease-in-out;
}

.main-button:hover>i {
    transform: translateX(7px);
}

.section-label {
    color: white;
    text-align: center;
    margin: 8% 0 2% 0;
    font-size: 1.7em;
    font-weight:400;
}

.divider {
    width: 70px;
    height: 10px;
    border-radius: 8px;
    background-color: #E08456;
    margin: 8px auto;
}

.sub-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 2% 4%;
}

.sub-section article {
    background-color: white;
    border-radius: 8px;
    color: black;
    margin: 2%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    display: flex;
    flex-direction: column;
}

.sub-section article img {
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;
    border-radius: 8px 8px 0 0;
    object-fit: cover;
}

.card-content {
    padding: 15px;
    height: 100%;
    /* Ensure the content div takes up full height */
    display: flex;
    flex-direction: column;
    font-size: 0.8em;
}

.card-content button {
    cursor: pointer;
    background-color: transparent;
    border-color: #E08456;
    border-style: solid;
    border-radius: 50px;
    padding: 8px;
    color: #E08456;
    margin-top: auto;
    font-size: 1em;
    font-weight: 600;
    transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
    overflow: hidden;
    /* white-space: nowrap; */
}

.card-content button::before {
    content: '';
    position: absolute;
    inset: 0;
    margin: auto;
    width: 200px;
    height: 50px;
    border-radius: inherit;
    scale: 0;
    z-index: -1;
    background-color: #E08456;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.card-content button:hover::before {
    scale: 2;
}

.card-content button:hover {
    color: white;
    transform: scale(1.1);
    box-shadow: 0 0px 20px rgba(224, 132, 86, 0.4);
}

.card-content button:active {
    transform: scale(1);
}


footer {
    background-color: #C6E2DA;
    display: flex;
}

footer div {
    margin: 1% 2%;
    flex: 1;
    align-self: center;
}

footer img {
    max-width: 7%;
}

footer p {
    font-size: 0.8rem;
    text-align: right;
    margin: 0;
}

@media only screen and (max-width: 700px) {
    header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    header img {
        width: 50%;
    }

    nav a {
        font-size: 0.8em
    }

    .main-section {
        padding-left: 3rem;
    }

    .sub-section {
        flex-direction: column;
        align-items: center;
    }

    .sub-section article {
        margin: 5%;
    }
}