body {
    background-color: #26877F;
    font-family: 'Overpass', serif;
    /* margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: 5%;
    margin-right: 5%;  */
    color: #26877F;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 2.5rem;
    margin: 0;
    font-weight: 900;
}

h2 {
    font-size: 2rem;
}

header, header + nav {
    background-color: #C6E2DA;
    width: 100%;
}


header img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 2% 0 4% 0;
    width: 20%;
}

nav ul {
    list-style: none;
    text-align: center;
    padding-bottom: 20px;
    margin: 0;
    display: flex;
    justify-content: space-around;
}

nav li {
    display: inline-block;
}

nav a {
    color: #26877F;
    text-decoration: none;
    font-weight: 800;
    letter-spacing: 2px;
}

a:hover {
    color: #64b9b2;
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-underline-offset: 23px;
    text-decoration-color: #26877F;
}

section {
    display: flex;
    margin: 5%;
    color: white
}

article {
    flex: 1;
}

.main-section {
    margin: 0;
    padding: 5%;
    background-image: url('/assets/section1bg.png');
    min-height: 100%;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main-article {
    margin-right: 50%;
    text-align: left;
}

.main-article > p {
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5rem;
    padding: 0;
}

.main-button {
    background-color: #E08456;
    color: white;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 2px;
    padding: 15px 25px;
    border-radius: 50px;
    border: none;
    margin-top: 60px;
}

.main-button:hover {
    background-color: rgb(255, 158, 109);
}

footer {
    background-color: #C6E2DA;
    display: flex;
}

footer div {
    margin: 1% 2%;
    flex: 1;
    align-self: center;
}

footer img {
    max-width: 7%;
}

footer p {
    font-size: 0.8rem;
    text-align: right;
    margin: 0;
}